@media only screen and (max-width: 767px) {
	.ui.small.modal {
		width: 75%;
		margin: 0;
	}
	.ui.modal>.content {
		padding:0 !important;
	}
}
.dimmed.dimmable>.ui.animating.dimmer, 
.dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer {
    background-color: rgba(255,255,255,.85);
}

.ui.modal {
	background: none !important;
    box-shadow: none !important;
}

.ui.inverted.modals.dimmer {
	background-color:rgba(0,0,0,.85) !important;
}


.comment-modal-class {
	--background:rgba(0,0,0,1);
}


.sc-ion-modal-ios-h .modal-wrapper.sc-ion-modal-ios {
	background: rgba(0,0,0,.7);
}